@model HW7.Models.gitInfo

@{
    ViewBag.Title = "Home Page";
}
    <div class="jumbotron">
        <a href="@Model.user_homepage" >
            <div class="container-fluid">
                <div class="col-lg-6">
                    <img src="@Model.photouri" height="200" width="300" />
                </div>
                <p>@Model.name</p>
                <p>@Model.username</p>
                <p>@Model.email</p>
            </div>
        </a>
    </div>


<div id="theplot"></div>

@section scripts
{
    <script src="~/Scripts/main.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}
