@model Homework8.Models.ViewModel

@{
    ViewBag.Title = "Details";
}

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>


<h2>Details</h2>

<table>
    <tr>
        <th>Date</th>
        <th>Event</th>
        <th>Location</th>
        <th>Time</th>
    </tr>
    @foreach (var item in Model.NewDetails){
        <tr>
            <td>@item.LocationDate</td>
            <td>@item.Distance</td>
            <td>@item.Location</td>
            <td>@item.Time</td>
        </tr>
    }

    <tr></tr>


</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
