
@{
    ViewData["Title"] = "RGBTable";
}

<h1>RGBTable</h1>
<p>Please Enter color in HTML hex format: #AABBCC</p>

<div class="row">
    <div class=" col-md-4">
        @using (Html.BeginForm("RGBTable", "Home", FormMethod.Post))
        {

            <div class="form-group">
                <table style="float: right;">
                    <tr>
                        <th><b>HTML</b></th>
                        <th><b>Color</b></th>
                    </tr>
                    <tr>
                        
                    </tr>

                </table>
                @Html.Label("hexvalue1", "First Color: ")
                @Html.TextBox("First Color", null, new { @class = "form-control", type = "number", maxlength = "7", min = "0" })
                @Html.Label("hexvalue2", "Second Color: ")
                @Html.TextBox("hexvalue2", null, new { @class = "form-control", type = "text", maxlength = "7", min = "0" })
                @Html.Label("numberofcolors", "Steps: ")
                @Html.TextBox("numberofcolors", null, new { @class = "form-control", type = "number", min = "0" })
                <br />
                <button type="submit" class="btn btn-primary">Submit </button>
                <br />
                <br />
                </div>
        }
    </div>
</div>